<!--<div class="row" ng-controller="NewsMapCtrl">
  <div class="col-md-12" id="map_view">
  </div>
</div>
-->
<div class="row" id="timeline">
  <div class="col-sm-8" class="index">
    <table>
      <tr>
        <th class="time">Time:</th><th class="number1">災害</th><th class="number1">報道</th><th class="number">SNS</th>
      </tr>
      <tr>
        <td class="time">
          <span>{{currentDate | date:'yyyy/MM/dd HH:mm'}}</span>
        </td>
        <td class="number1">
          <span>{{currentDisaster | number}}</span>
        </td>
        <td class="number1">
          <span>{{currentArticle | number}}</span>
        </td>       
        <td class="number">
          <span>{{currentTweet | number}}</span>
        </td>       
      </tr>
    </table>
  </div>
  <div class="col-sm-4 play-control">
    <a ng-href="" class="btn btn-primary" ng-click="playTimeline()">Play</a>
    <a ng-href="" class="btn btn-default" ng-click="stopTimeline()">Pause</a>
    <a ng-href="" class="btn btn-default" ng-click="resetTimeline()">Reset</a>
  </div>
</div>
<div class="row">
  <!--<slider floor="{{startTime}}" ceiling="{{endTime}}" step="100" ng-model="sliderTime"></slider>-->
</div>

<div class="row" ng-controller="DisasterMapCtrl">
  <div class="col-md-12" id="map_tokyo">
  </div>
</div>
<div class="row">
  <div class="col-md-12 legend"><img src="images/icons.png" alt="判例" width="250px" height="50px"></div>
</div>