$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#map_view {
    width: 100%;
    height: 400px;
}
#map_tokyo {
    width: 100%;
    height: 600px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    #timeline {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 22px;
        .time {
            font-size: 22px;
            font-weight: 600;
        }
        .play-control {
            text-align: right;
        }
    }
    .legend {
        margin-top: 10px;
        text-align: right
    }
}
.time {
    width: 250px;
}
th.time {
    font-weight: 300;
}
.number {
    width: 120px;
}
.number1 {
    width: 80px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
